body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fabbbb, #dfdada);
  font-family: Arial, sans-serif;
}


h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    
}

nav a{
    display: block;
    width: 500px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: black;

   
     border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  transition: 0.3s;
    background-color: rgb(233, 188, 188);
}

.container {
 
  display: flex;
  flex-direction: column;   /* um embaixo do outro */
  justify-content: center; 
  align-items: center;     
  height: 100vh;
  gap: 20px;                

}

a:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);

}


 form{
    background-color: #293541;
    color: #9bb9d6;
    
    width: 80%;
    max-width: 300px;
    margin: 17rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

      display: flex;
  flex-direction: column;
  align-items: center;

 }

label {
  
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;


  color: rgb(192, 192, 192);
  text-decoration: underline;

}

input {
  width: 100%;
  max-width: 220px;
  padding: 0.5rem;

  border-radius: 5px;
  border: none;
  outline: none;
}
